@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes popIn {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    50% {
      transform: translateX(-10%);
      opacity: 0.7;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .bg-animated {
    background-size: 200% 200%;
    animation: gradientBG 10s ease infinite;
  }
    